<div class="grid_16">
  <h1>New lot</h1>

  <% form_for(@lot) do |form| %>
    <%= form.error_messages %>

    <%= render :partial=>'form', :object=>form%>
    <p>
      <%= form.submit 'Create' %>
      <%= link_to 'Cancel', lots_path %>
    </p>

  <% end %>

</div>